 Build a hotel recommendation bot using sentiment analysis and guest reviews scores. 
 The dataset includes reviews of 1493 different hotels in 6 cities.

In [18]:
import pandas as pd
import time

In [19]:
print("Loading data file now, this could take a while depending on file size")
start = time.time()
df = pd.read_csv('Hotel_Reviews.csv')
end = time.time()
df.info()
print("Loading took " + str(round(end - start, 2)) + " seconds")

Loading data file now, this could take a while depending on file size
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               515738 non-null  object
 1   Additional_Number_of_Scoring                515738 non-null  int64
 2   Review_Date                                 515738 non-null  object
 3   Average_Score                               515738 non-null  float64
 4   Hotel_Name                                  515738 non-null  object
 5   Reviewer_Nationality                        515738 non-null  object
 6   Negative_Review                             515738 non-null  object
 7   Review_Total_Negative_Word_Counts           515738 non-null  int64
 8   Total_Number_of_Reviews                     515738 non-null  int64
 9   Positive_Review                             515738 non-null  object
 10  Review_Total_Positive_Word_Counts           515738 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 12  Reviewer_Score                              515738 non-null  float64
 13  Tags                                        515738 non-null  object
 14  days_since_review                           515738 non-null  object
 15  lat                                         512470 non-null  float64
 16  lng                                         512470 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 66.9+ MB
Loading took 3.85 seconds

Calculate the frequency count for reviewer nationalities

In [33]:
nationalities = df['Reviewer_Nationality'].value_counts().reset_index()
print("Top 10 nationalities of reviewers")
nationalities.head(10)

Top 10 nationalities of reviewers

         Reviewer_Nationality   count
0             United Kingdom   245246
1   United States of America    35437
2                  Australia    21686
3                    Ireland    14827
4       United Arab Emirates    10235
5               Saudi Arabia     8951
6                Netherlands     8772
7                Switzerland     8678
8                    Germany     7941
9                     Canada     7894

In [41]:
# find the most frequently reviewed hotel for each of the top 10 most reviewer nationalities
top_10_nationalities = nationalities.head(10)['Reviewer_Nationality']
for i,nationality in enumerate(top_10_nationalities):
    most_reviewed_hotel = df[df['Reviewer_Nationality'] == nationality]['Hotel_Name'].value_counts().reset_index().head(1)
    most_reviewed_hotel = most_reviewed_hotel['Hotel_Name'].values[0]

Most reviewed hotel by United Kingdom is Britannia International Hotel Canary Wharf
Most reviewed hotel by United States of America is Hotel Esther a
Most reviewed hotel by Australia is Park Plaza Westminster Bridge London
Most reviewed hotel by Ireland is Copthorne Tara Hotel London Kensington
Most reviewed hotel by United Arab Emirates is Millennium Hotel London Knightsbridge
Most reviewed hotel by Saudi Arabia is The Cumberland A Guoman Hotel
Most reviewed hotel by Netherlands is Jaz Amsterdam
Most reviewed hotel by Switzerland is Hotel Da Vinci
Most reviewed hotel by Germany is Hotel Da Vinci
Most reviewed hotel by Canada is St James Court A Taj Hotel London

In [16]:
top_10_nationalities

NameError: name 'top_10_nationalities' is not defined